/*
          _                         _    
__      _| | ___   __ _  ___  _   _| |_  
\ \ /\ / / |/ _ \ / _` |/ _ \| | | | __| 
 \ V  V /| | (_) | (_| | (_) | |_| | |_  
  \_/\_/ |_|\___/ \__, |\___/ \__,_|\__| 
                  |___/                  
*/

@import '../../.cache/wal/colors.css';

* {
    font-family: "Fira Sans Semibold";
	background-image: none;
	transition: 20ms;
	box-shadow: none;
}

window {
	background: url("../../.cache/blurred_wallpaper.png");
	background-size: cover;
	font-size: 16pt;
	color: @foreground;
	margin: 30px;
}

button {
	background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: rgba(0, 0, 0, 0);
    animation: gradient_f 20s ease-in infinite;
    border-radius: 80px; /* Increased border radius for a more rounded look */
	border:0px;
	border-radius: 1px;
}

button:focus {
	outline: none;
    background-color: @color11; 
    background-size: 40%;
    border-radius: 2px; 
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    box-shadow: 0 0 50px @color7; 
}

button span {
    font-size: 1.2em;
}

#lock {
	background-image: url("icons/lock.png");
}

#logout {
	background-image: url("icons/logout.png");
}

#suspend {
	background-image: url("icons/suspend.png");
}

#shutdown {
	background-image: url("icons/shutdown.png");
}

#reboot {
	background-image: url("icons/reboot.png");
}
