#battery.000 {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-000.svg');
}
#battery.000.charging {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-000-charging.svg');
}

#battery.010 {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-010.svg');
}
#battery.010.charging {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-010-charging.svg');
}

#battery.020 {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-020.svg');
}
#battery.020.charging {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-020-charging.svg');
}

#battery.030 {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-030.svg');
}
#battery.030.charging {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-030-charging.svg');
}

#battery.040 {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-040.svg');
}
#battery.040.charging {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-040-charging.svg');
}

#battery.050 {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-050.svg');
}
#battery.050.charging {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-050-charging.svg');
}

#battery.060 {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-060.svg');
}
#battery.060.charging {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-060-charging.svg');
}

#battery.070 {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-070.svg');
}
#battery.070.charging {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-070-charging.svg');
}

#battery.080 {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-080.svg');
}
#battery.080.charging {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-080-charging.svg');
}

#battery.090 {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-090.svg');
}
#battery.090.charging {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-090-charging.svg');
}

#battery.100 {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-100.svg');
}
#battery.100.charging {
  background-image: url('/usr/share/icons/Papirus/24x24/panel/battery-100-charging.svg');
}

